.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
}

.wrapper{
  width: 940px;
  margin:0 auto;
}

.rouge {
  color: #EE3623;
}

/*========================================================================================*/
.hero-nav{
  width: 100%;
  height: 600px;
  background: url("../images/hero_bg@2x.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

@media (max-width: 1025px) {
  .hero-nav{
    background-size: cover;
  }
}

.hero-nav img.logo{
  display: inline-block;
  position: relative;
  top: 20px;
  left: 30px;
}

.hero-nav img.laptop{
  position: relative;
  bottom: -30px;
  display: block;
  margin: 0 auto;
}

.hero-nav div.nav-bar{
  display: inline-block;
  float: right;
  position: relative;
  top: 30px;
  right: 30px;
}

.hero-nav div.nav-bar li{
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  font-size: 14px;
  list-style: none;
  display: inline;
  padding-left: 15px;
}

.hero-nav div.nav-bar li a {
  text-decoration: none;
  color: white;
  opacity: .8;
}

.hero-nav div.nav-bar li a:hover {
  opacity: 1;
}
/*========================================================================================*/

.call-2-action{
  display: block;
  width: 450px;
  margin: 0 auto;
  text-align: center;
}

.call-2-action h1{
  font-family: Helvetica Neue, Helvetica, Arial;
  font-weight: 100;
  font-size: 36px;
  color: white;
  margin-bottom: 10px;
}

.call-2-action h3{
  font-family: Helvetica, Arial;
  font-size: 18px;
  font-weight: 100;
  color: white;
  margin: 0 auto 35px auto;
}

.call-2-action a{
  font-size: 12px;
  text-decoration: none;
  color: white;
  font-family: Helvetica;
  background-color: #FF2828;
  padding: 15px;
  border-radius: 5px;
  opacity: 1;
}

.call-2-action a:hover{
  opacity: .9;
}

/*========================================================================================*/

.customization {
  height: 310px;
  background-color: white;
}

.customization img.customization-icon {
  position: relative;
  top: 50px;
  left: 110px;
}

.customization div.right-content {
  float: right;
  width: 417px;
  position: relative;
  top: 85px;
  right: 138px;
  color: #323232;
}

.customization div.right-content h3 {
  font-size: 25px;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-weight: 200;
  margin-bottom: 10px
}

.customization div.right-content p{
  font-family: Helvetica, Arial;
  font-size: 14px;
}

.customization div.right-content a{
  text-decoration: none;
}

/*========================================================================================*/

.layout {
  height: 310px;
  background-color: #EEEEEE;
}

.layout img.responsive-icon {
  float: right;
  position: relative;
  top: -50px;
  right: 135px;
}

.layout div.left-content {
  width: 255px;
  position: relative;
  top: 111px;
  left: 155px;
  color: #323232;
}

.layout div.left-content h3 {
  font-size: 25px;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-weight: 200;
  margin-bottom: 10px;
}

.layout div.left-content p{
  font-family: Helvetica, Arial;
  font-size: 14px;
}

.layout div.left-content p span.red-text{
  color: #EE3623;
}


/*========================================================================================*/

.support {
  height: 310px;
  background-color: white;
}

.support img.support-icon {
  position: relative;
  top: 50px;
  left: 100px;
}

.support div.right-content {
  float: right;
  width: 417px;
  position: relative;
  top: 96px;
  right: 138px;
  color: #323232;
}

.support div.right-content h3 {
  font-size: 25px;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-weight: 200;
  margin-bottom: 10px
}

.support div.right-content p{
  font-family: Helvetica, Arial;
  font-size: 14px;
}

.support div.right-content p span.red-text{
  color: #EE3623;
}

/*========================================================================================*/
footer {
  background-color: #171717;
  margin: 0;
}

footer p{
  margin: 0;
  padding: 30px;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;  font-weight: 100;
  font-size: 14px;
  color: white;
  opacity: 0.6;

}

footer div.footer-links {
  display: inline-block;
  float: right;
  position: relative;
  top: -60px;
  right: 30px;
}

footer div.footer-links a {
  text-decoration: none;
  color: white;
  opacity: .6;
}

footer div.footer-links li{
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  font-size: 14px;
  list-style: none;
  display: inline;
  padding-left: 15px;
}

footer p a{
  text-decoration: none;
  color: white;
  opacity: .8;
}

footer p a:hover{
  opacity: 1;
}

footer div.footer-links a:hover {
  opacity: 1;
}
