* {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 16px;
}

.white-bg {
  background-color: #ffffff;
}

.black-bg {
  background-color: #181818;
}

.gutter-left {
  margin-left: 15px;
}

.gutter-right {
  margin-right: 15px;
}

.gutter-top {
  margin-top: 15px;
}

.gutter-bottom {
  margin-bottom: 15px;
}

.contents {
  padding-top: 10px;
  padding-bottom: 50px;
}
