header {
  padding-top: 30px;
  padding-bottom: 20px;

  .header-date-location {
    color: #999999;
    line-height: 1.4;
    margin-top: 4px;
    padding: 0 15px 0 18px;
    margin-left: 5px;
    border-left: solid 1px #333333;
    .date {
      font-weight: bold;
      display: block;
    }
    .location {
    }
  }

  .call-to-action {
    padding-top: 10px;
    .copy {
      padding-right: 10px;
      padding-top: 6px;
      color: $white;
    }
  }

  //-- Responsive Tweaks ----------------------------------------------------
  @include respond-to(tablet-portrait) {
    padding-top: 0
  }

}